#menu {
	text-align: center;
	width: 200px;
	float: left;
	}
#menu ul ul {
	display: none;
	}
#menu ul li:hover > ul {
	display:block;
	}
#enemy {
	text-align:center;
	width:300px;
	border: 1px dashed black;
	margin:auto;
	}
.command { 
	height:50px;
	width: 150px;
	background-color: white;
	border: 1px dashed black;
	}
progress {
	height: 18px;
	color: RGB(60,196,77);
	background-color: RGB(103,3,5);
	border: 1px solid black;
	}

	
